@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px           ;
    padding: 0px          ;
    box-sizing: border-box;
}

:root {
    --color-black  : #272727  ;
    --color-white  : #fff     ;
    --color-purple : #8b3546  ;
}

html {
    font-size: 10px;
}

*, html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #272727;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 15px 30px;
    position: fixed;
    z-index: 2;
    background: transparent;

    transition: all .7s ease;
}

.header-title {
    text-decoration: none;
}

.header-title h1{
    color: var(--color-white);
    font-size: 2rem;
}

.header-title h1:hover{
    opacity: .8;
    transition: opacity .3s ease;
}

.navBar {
    max-width: 350px;
    width: 100%;
}

.navBar ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBar ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;
}

#person {
    height: 100vh;
    width: 100%  ;
    display: flex      ;
    align-items: center;
}

#person .person-content {
    height: 100%            ;
    width: 50%              ;

    display: flex           ;
    flex-direction: column  ;
    justify-content: center ;
    align-items: center     ;

    background-color: var(--color-black);
}

.person-name {
    margin-top: 11rem;
    padding: 0px 20px;
}

.person-content div h1 {
    color: transparent     ;
    padding: 0px 4px       ;
   
    font-size: calc(2vw + 1.5rem);
    line-height: calc(3vw + 1.8rem);
    
    width: fit-content;
    position: relative;

    animation: written_text .5s ease forwards; 
}

.person-content div h1:nth-child(1) {
    animation-delay: 0.4;
}

.person-content div h1:nth-child(2) {
    animation-delay: 0.8s;
}

.person-content div h1:nth-child(3) {
    animation: written_text_name .5s ease forwards;
    animation-delay: 1.2s;
}

@keyframes written_text {
    100% {
        color: var(--color-white);
    }
}

@keyframes written_text_name {
    100% {
        color: var(--color-purple);
    }
}

.stacks-content {
    padding: 0px 20px;
    display: flex          ;
    flex-direction: column ; 
    margin-top: 6rem       ;
    margin: 5rem 0rem 2rem ;
}

.stacks-content h3 {
    color: var(--color-white);
    font-size: 1.80rem;
    margin-left: 20px;

    font-size: calc(.85vw + .5rem);

}

.stacks {
    max-width:  30vw;
    display: flex       ;
    flex-direction: row ;
    justify-content: center;
    flex-wrap: wrap;
}

.stacks li {
    display: flex          ;
    align-items: center    ;
    position: relative;
    margin: 10px ;
    padding: 10px;
    list-style: none;
}

.stacks img {
    width: calc(2.5vw + 0.5rem);
    height: auto ;
    transition: transform .2s ease;
}

.stacks img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* .stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;

    width: 20px;
    height: 20px;

    color: var(--color-white);
} */

.person-background {
    height: 100vh         ;
    width: 50vw            ;

    display: flex          ;
    flex-direction: column ;
    justify-content: center;
    align-items: center    ;

    background-image: url(./img/background.jpg);
    background-size: cover      ;
    background-position: top    ;

    position: relative;

    z-index: 1;
}

.person-background::after {
    content: ""       ;
    position: absolute;
    top:0             ;
    left: 0           ;

    width: 100%       ;
    height: 100%      ;

    background: linear-gradient(180deg, transparent 5%, var(--color-black));

    z-index: -1;
    
}

.links a img {
    width: calc(2vw + 0.8rem);
    height: calc(2vw + 0.8rem);
    margin: calc(0.8vw + 0.8rem);
    filter: brightness(0.7);
    transition: all 0.3s ease;
}

.links img:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter: brightness(1);
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding:calc(1vw + 0.2rem);
    margin: 20px 15px;

    border-radius: 50%;

    background: 
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(#000 68%, transparent 0),
        linear-gradient(to top right, #8b3546 0%, #341018);
}

.wrapper-profile-photo img {
    max-width: 320px;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}

#about {

    scroll-margin-top: 1rem;
    scroll-behavior: smooth;
    height: auto;
    width: 100%;
    background-color: var(--color-black);

    display: flex;
    color: var(--color-white);
}

.background-about {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    height: 100%;
    width: 100% ;

    position: relative;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: 
        linear-gradient(.25turn, transparent 30%, var(--color-black)),
        linear-gradient(.5turn, transparent 30%, var(--color-black)),
        linear-gradient(1turn, transparent 60%, var(--color-black));
}

.img-wrapper img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.box-about {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50%;
    padding: 3rem;
    margin: 6rem 0rem;

}

.section-subtitle h2 p {
    display: inline-block;
    font-size: 3rem;
    font-size: calc(1.4vw + 1.2rem);
}

.section-subtitle h2 p:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 4px;
    background-color: #fff;
    color: var(--color-black);
}

.box-about h3 {
    margin: 3rem;
    font-size: calc(.8vw + .8rem);
}

.box-about h3 p {
    display: inline-block;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 4px;
    /* color:  var(--color-black); */
    background-color: var(--color-purple);
}

.box-about h4 {
    margin: 1rem 3rem;
    font-size: calc(.8vw + .5rem);
}

.box-about h4 p {
    display: inline;
    padding: 2px 4px;
    color: var(--color-purple);
}

.button-cta {
    display: flex;
    max-width: 190px;
    margin: 4rem 3rem;
}

.button-cta a {
    display: inline-block;
    /* width: 100%; */
    /* max-width: 172px; */

    padding: calc(0.2vw + 0.8rem) calc(2vw + 0.8rem);
    margin-bottom: 3rem;

    font-family: "Inter", sans-serif;
    font-size: calc(.7vw + .55rem);
    font-weight: 700;
    letter-spacing: .15rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    background: var(--color-white);
    color: var(--color-black);
    text-align: center;
    text-decoration: none;

    transition: all .3s ease;
}

.button-cta a:hover {
    filter: brightness(.8);
}

#projects {

    scroll-margin-top: 2rem;
    height: 100vh;
    width: 100%  ;
    background-color: var(--color-black);

    display: flex         ;
    flex-direction: column;
}

.projects-title h2 {
    margin: 3rem;
    padding: 1rem;

    font-size: 3rem;
    color: var(--color-white);
}

.container-projects {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}

.swiper {
    height: 100%;
    width: 100%;
    max-width: 1020;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    height: 500px;
}

.card-project {
    /* width: 420px;
    height: 400px; */
    height: 100%;
    width: 100% ;
    padding: 30px 20px 20px;
    /* margin: 0px 10px; */
    background-color: var(--color-white);
    z-index: 1  ;

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
    position: relative;
    text-align: center;
}

.card-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 40% ;
    width: 100% ;
    background-color: var(--color-purple);
    border-radius: 20px 20px 0px 0px;

    z-index: -1;
}

.image-project {
    height: 240px;
    width: 350px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    /* height: 100%;
    width: 100%; */
    max-width: 100%;

    margin-bottom: 30px;
}

.image-project img {

    padding: 10px;
    width: 100% ;
    height: 100%;
    border-radius: 10px;

    border: 2px solid white;

    position:absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;

    transition: transform .3s ease-out;
    cursor: pointer;

    background-color: #8b3546;
}

.image-project img:hover{
    transform: scale(1.06);
}

.card-project span {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.7rem;
}

.card-project p {
    color: #3d3d4b;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0rem .75rem;

    margin-bottom: 30px;
}

.cta-project {
    width: 200px;
    margin: auto ;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-project a {
    padding: 5px 16px;
    font-size: 1.25rem;
    background:var(--color-purple);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: opacity .3s ease;
}

.cta-project a:hover {
    opacity: .7;
}

#contacts {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    align-items: center;
    background-color: var(--color-black);
    color: white;
}

.contact-icon-content h2 {
    margin: 3rem 3rem 3rem 0rem;
    padding: 1rem 1rem 1rem 0rem;
    font-size: 3rem;
    color: white;
}

.contact-icons-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.contact-icon-content {
    display: flex;
    align-items: center;
    margin: 0rem 3rem;
    padding: 1rem;
}

.contact-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 50%;
}

.contact-icon i {
    font-size: 2rem;
    color: var(--color-purple);
}

.contact-info span {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-info p {
    margin: .25rem 0rem;
}

.contact-info a {
    margin: .25rem 0rem;
    text-decoration: none;
    color: var(--color-white);
    display: block;
}

.contact-info a:hover {
    color: var(--color-purple);
    transition: color .3s ease;
}

#footer {
    display: flex;
    width: 100%;
    height: 5vh;

    justify-content: center;
    align-items: center;

    margin-top: auto;
    background-color: #191919;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--color-white);
}

@media (max-width:1440px) and (orientation:landscape) {
    /* .wrapper-profile-photo img {
        width: 45vw;
    } */
}

@media (min-width:1440px) {
    .wrapper-profile-photo img {
        width: 200px;
        max-width: initial;
    }
}

@media (max-width:376px) {
    .stacks-content {
        padding: 0px 20px;
    }

    .stacks-content h3 {
        margin-left: 10px;
    }

    .stacks {
        margin-top: 10;
    }

    .stacks li {
        margin: 0px;
    }

    .person-name {
        padding: 0px 10px;
    }

    .stacks li img {
        width: calc(3.5vw + .5rem);
    }

    .wrapper-profile-photo img {
        width: 100px;
        height: 100px;
    }

    .box-about {
        padding: 1rem;
    }

    .section-subtitle p {
        font-size: 2rem;
    }

    .box-about h3 {
        margin: 2rem 1rem;
    }

    .box-about h4 {
        margin: 1rem;
    }

}

@media (max-width:768px) {
    .links a img {
        width: 20px;
        height: 20px;
    }
}

@media (min-width:377px) and (max-width:768px) {

    .person-name {
        padding: 0px 10px;
    }

    .stacks-content {
        padding: 0px 15px;
    }

    .stacks li img {
        width: calc(3.2vw + .5rem);
    }

    .stacks-content h3 {
        margin-left: 10px;
    }

    .stacks {
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .stacks li {
        margin: 0px;
    }

    .wrapper-profile-photo img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width:1000px) and (orientation:landscape) {
    .stacks-content h3 {
        font-size: 1vw;
    }
}